body{
  background-color: #2d545e;
  background-image: url(https://www.elsetge.cat/myimg/f/160-1600491_autodesk-wallpaper-website-background.jpg);
}

.container{
  width: 70vw;
  margin: 0 auto;
}

h1{
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: Arial;

}

.wrapper{
  display: flex;
  margin: 0 auto;
  width: 80%;
}


button{
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 12px;
  display: inline;
  color: white;
  font-family: Arial;
  font-size: 1.3rem;
  box-sizing: border-box;
}
input{
  width: 50rem;
  padding: 12px;
  border-radius: 4px;
  font-family: Arial;
  font-size: 20px;
}
ul{
  color: white;
  font-size: 30px;
  font-family: Arial;
}

li{
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin: 5px auto;
}

.remove-btn{
  background-color: rgb(224, 79, 79);
}